.card {
	display: inline;
	padding: 0;
	background: var(--dark);
	border: 1px solid white;
	border-radius: 8px;
	overflow: hidden;
	transition: box-shadow 0.1s ease-in;
	cursor: pointer;

	&:hover {
		box-shadow: 0 3px 10px 3px rgba(255, 255, 255, 0.2);
	}

	&__image {
		width: 100%;
		height: auto;
		object-fit: cover;
	}

	&__description {
		padding: 16px;
	}

	&__title {
		margin: 0;
		color: white;
		font-size: 18px;
	}

	&__paragraph {
		margin: 8px 0 0;
		color: white;
		font-size: 14px;
	}
}
